@page "/"

<PageTitle>NasaData</PageTitle>

https://api.nasa.gov/

https://images-api.nasa.gov

<FluentLabel>Api Endpoints</FluentLabel>
<FluentLabel>/search</FluentLabel>
<FluentLabel>https://images-api.nasa.gov/search?q=apollo%20&description=moon%landing&media_type=image</FluentLabel>
<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.